<div id="<%= dom_id movie %>">
  <p>
    <strong>Movie:</strong>
    <%= movie.movie_id %>
  </p>

  <p>
    <strong>Movie drive:</strong>
    <%= movie.movie_drive %>
  </p>

  <p>
    <strong>Movie directory:</strong>
    <%= movie.movie_directory %>
  </p>

  <p>
    <strong>Movie filename:</strong>
    <%= movie.movie_filename %>
  </p>

  <p>
    <strong>Movie extension:</strong>
    <%= movie.movie_extension %>
  </p>

  <p>
    <strong>Movie filesize:</strong>
    <%= movie.movie_filesize %>
  </p>

</div>
