<%= form_with(model: movie_detail) do |form| %>
  <% if movie_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie_detail.errors.count, "error") %> prohibited this movie_detail from being saved:</h2>

      <ul>
        <% movie_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :movie_id, style: "display: block" %>
    <%= form.number_field :movie_id %>
  </div>

  <div>
    <%= form.label :movie_imdbid, style: "display: block" %>
    <%= form.text_field :movie_imdbid %>
  </div>

  <div>
    <%= form.label :movie_themoviedbid, style: "display: block" %>
    <%= form.text_field :movie_themoviedbid %>
  </div>

  <div>
    <%= form.label :movie_thetvdbid, style: "display: block" %>
    <%= form.text_field :movie_thetvdbid %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
