<div id="<%= dom_id movie_detail %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_detail.movie_id %>
  </p>

  <p>
    <strong>Movie imdbid:</strong>
    <%= movie_detail.movie_imdbid %>
  </p>

  <p>
    <strong>Movie themoviedbid:</strong>
    <%= movie_detail.movie_themoviedbid %>
  </p>

  <p>
    <strong>Movie thetvdbid:</strong>
    <%= movie_detail.movie_thetvdbid %>
  </p>

</div>
